<!-- templates/error_page.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error en la Verificación</title>
    <!-- Agrega aquí tus enlaces a CSS -->
</head>
<body>
    <div class="container">
        <h1>Error en la Verificación</h1>
        <p>Hubo un problema al verificar tu correo electrónico. Por favor, intenta nuevamente o contacta al soporte.</p>
        <a href="{% url 'home' %}">Volver a Inicio</a>
    </div>
</body>
</html>
