<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Psicólogos</title>
        <link rel="icon" href="https://storage.googleapis.com/limonmental/Disen%CC%83o%20sin%20ti%CC%81tulo%20(5).png" type="image/png" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-ligh">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Limón mental 🍋</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../">Inicio</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'psychologists' %}">Psicólogos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'posts' %}">Posts</a>
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_post' %}">Crear post</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'chatbot' %}">Limoncito</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                        </li>
                        
                        {% else %}
                            <li>
                                <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
                            </li>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="container mt-5">
        <h1 class="text-center mb-4">Encuentra al Psicólogo Ideal</h1>
        <p class="lead text-center">Descubre a nuestros psicólogos altamente calificados y encuentra el apoyo que necesitas.</p>
        <form method="get" action="{% url 'psychologists' %}">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="q" placeholder="Buscar por nombre...">
                <select class="form-select" name="tipo_consulta" aria-label="Tipo de consulta">
                    <option value="" selected>Tipo de Consulta</option>
                    <option value="Virtual">Virtual</option>
                    <option value="Presencial">Presencial</option>
                </select>
                <input type="text" class="form-control" name="especialidad" placeholder="Especialidad">
                <input type="text" class="form-control" name="precio_min" placeholder="Precio Mínimo">
                <input type="text" class="form-control" name="precio_max" placeholder="Precio Máximo">
                <button class="btn btn-outline-secondary" type="submit">Buscar</button>
            </div>
        </form>

        {% if query %}
            <p>Resultados de la búsqueda para: "{{ query }}"</p>
        {% endif %}
        <div class="row mt-5">
            {% for psychologist in psychologists_list %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ psychologist.photo }}" class="card-img-top img-thumbnail rounded" alt="{{ psychologist.name }}" style="width: 100%; height: 400px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ psychologist.name }}</h5>
                            <p class="card-text">{{ psychologist.description }}</p>
                            <p class="card-text">{{ psychologist.tipo_consulta }}</p>
                            <p class="card-text">{{ psychologist.especialidad }}</p>
                            <p class="card-text">{{ psychologist.precio }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>