<!-- chat/chatbot.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limoncito</title>
    <!-- Enlaces a Bootstrap para mejorar el diseño -->
    <link rel="icon" href="https://storage.googleapis.com/limonmental/Disen%CC%83o%20sin%20ti%CC%81tulo%20(5).png" type="image/png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-ligh">
        <!-- ... (código del menú de navegación) ... -->
    </nav>
    <div class="container mt-5">
        <h1>Limoncito</h1>
        <div id="chat-container" class="border p-3 mb-3"></div>
        <div class="input-group mb-3">
            <input type="text" id="user-input" class="form-control" placeholder="Escribe tu mensaje...">
            <div class="input-group-append">
                <button class="btn btn-primary" onclick="sendMessage()">Enviar</button>
            </div>
        </div>
        <!-- Barra de carga -->
        <div id="loading-spinner" class="spinner-border text-primary d-none" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>

    <script>
        function sendMessage() {
            var userInput = document.getElementById('user-input').value.trim();
            var chatContainer = document.getElementById('chat-container');
            var loadingSpinner = document.getElementById('loading-spinner');
            
            if (!userInput) {
                return;
            }

            loadingSpinner.classList.remove('d-none');

            chatContainer.innerHTML += '<p><strong>Tú:</strong> ' + userInput + '</p>';

            fetch('/chatbot/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}' 
                },
                body: JSON.stringify({ 'message': userInput })
            })
            .then(response => response.json())
            .then(data => {
                loadingSpinner.classList.add('d-none');
                
                chatContainer.innerHTML += '<p><strong>Limoncito:</strong> ' + data.bot_response + '</p>';
            })
            .catch(error => console.error('Error:', error));
            
            document.getElementById('user-input').value = '';
        }
    </script>

    <!-- Enlaces a Bootstrap para mejorar el diseño -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
