<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limoncito - Tu Compañero Virtual</title>
    <!-- Enlaces a Bootstrap para mejorar el diseño -->
    <link rel="icon" href="https://storage.googleapis.com/limonmental/Disen%CC%83o%20sin%20ti%CC%81tulo%20(5).png" type="image/png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Limón mental 🍋</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'psychologists' %}">Psicólogos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'posts' %}">Posts</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'chatbot' %}">Limoncito</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_post' %}">Crear post</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                        </li>
                    {% else %}
                        <li>
                            <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h1>¡Bienvenido a Limoncito!</h1>
        <p>Tu compañero virtual está aquí para ayudarte. Escribe un mensaje y Limoncito te responderá.</p>

        <!-- Mostrar la respuesta del chatbot si está disponible -->
        {% if bot_response %}
            <div id="chat-response" class="alert alert-info">
                <strong>Limoncito:</strong> {{ bot_response }}
            </div>
        {% endif %}
        <div id="chat-container" class="mt-3">
        </div>
        <!-- Indicador de carga -->
        <div id="loading-spinner" class="spinner-border text-primary d-none" role="status">
            <span class="visually-hidden"></span>
        </div>
        <!-- Formulario para enviar mensaje al chatbot -->
        <form id="chat-form">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input type="text" name="message" id="user-input" class="form-control" placeholder="Escribe tu mensaje...">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Código JavaScript -->
    <script>
        document.getElementById('chat-form').addEventListener('submit', function(event) {
            event.preventDefault();

            var userInput = document.getElementById('user-input').value.trim();
            var chatContainer = document.getElementById('chat-container');
            var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            
            if (!userInput) {
                return;
            }
            
            // Mostrar el indicador de carga
            document.getElementById('loading-spinner').classList.remove('d-none');
            document.querySelector('button[type="submit"]').disabled = true;
            
            chatContainer.innerHTML += '<p><strong>Tú:</strong> ' + userInput + '</p>';
            
            fetch('/chatbot/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({ 'message': userInput })
            })
            .then(response => response.json())
            .then(data => {
                var botResponse = data.response; // Asegúrate de que 'data.response' es la respuesta del bot
                typeMessage(botResponse, chatContainer);
                
                // Ocultar el indicador de carga y habilitar el botón de envío
                document.getElementById('loading-spinner').classList.add('d-none');
                document.querySelector('button[type="submit"]').disabled = false;
            })
            .catch(error => console.error('Error:', error));
            
            // Restablecer el valor del input
            document.getElementById('user-input').value = '';
        });
    
        function typeMessage(message, container) {
            var i = 0;
            var typingSpeed = 25; // Velocidad en milisegundos
            var botMessageElement = document.createElement('p');
            botMessageElement.innerHTML = '<strong>Limoncito: </strong> ';
            container.appendChild(botMessageElement);
    
            function typing() {
                if (i < message.length) {
                    botMessageElement.innerHTML += message.charAt(i);
                    i++;
                    setTimeout(typing, typingSpeed);
                }
            }
            typing();
        }
    </script>
    
    <!-- Enlaces a JavaScript, Bootstrap ... -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
